<script>
  function showTrailer(){
  $("#trailer").fadeIn("slow");
  $(".poster").fadeOut();
  $(".movie-info").fadeOut();
  $(".form-search").fadeOut();
  $(body).css("background","black");
  
  }
  $(li).hover(function(){
    $(".traler-link").css("color","red");
  });
  
  function hideTrailer(){
    $("#trailer").css("display","none");
    $(".poster").css("display","block");
  $(".movie-info").css("display","block");
  $(".form-search").css("display","block");
  
  }
</script>



<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <form class="form-search" action="get_movie" method="get">
          <a href="/"><img src="<%=  image_path("mmcLogo.png") %>"  class="logo-2"width="10%" height="10%"/></a>
      <input type="text" class="input-medium search-query" id="searchform" name="search">
        
      </form>
        <div class="row-fluid">
          <div class="span6"><img class="poster" src="<%= raw @movie_info["poster"] %>" ></div>
          <div class="span6">
            <div class="movie-info">
              <ul>
                <li><span class="title">Title: <%= @movie_info["title"] %></span> <span class="year">&nbsp;(<%= @movie_info["year"] %>)</span></li>
                <li>Rated: <%= @movie_info["rated"] %></li>
                <li>Runtime: <%= @movie_info["runtime"] %></li>
                <li>Genre: <%= @movie_info["genre"] %></li>
                <li>Actors: <%= @movie_info["actors"] %></li>
                <li>director: <%= @movie_info["director"] %></li>
                <li>IMDB Rating: <%= @movie_info["imdb_rating"] %>&nbsp;out of 10</li>
                <li onclick="showTrailer()" class="traler-link">Watch Trailer</li>
                <li><a href="http://www.imdb.com/title/<%= @movie_info["imdb_id"] %>/">View on IMDB</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="trailer">
          <button onclick="hideTrailer()">close</button>
          <%= raw @movie_info["trailer"] %>
        </div>
      </div>
      <div class="span6">
        
      </div>
    </div>
  </div>
</div>